@font-face {
  font-family: "SF Display Thin";
  font-display: block;
  src: url("../fonts/SF_Pro_Display_Thin.woff2");
}

html, body {
   
    margin: 0px;
    padding: 0px;
    top: 0;
    bottom: 0;
    min-width: 320px;
    font-size: 15px;
    -webkit-text-size-adjust:none;
    min-height: -webkit-fill-available;
    height: -webkit-fill-available;
}

body {
	background: #000; 
	color: #EEE;
	min-width: 340px;
	font-family: 'SF Display Thin', sans-serif;
	margin: 0px;
	padding: 0px;
}

main {
	width: 100%;
	padding-top: var(--header-height);
	display: flex;
	flex-wrap: wrap; 
  	justify-content:  center;
}

aside {
  	width: 100%;
  	display: flex;
  	flex-wrap: wrap; 
  	justify-content:  center;
}

article {
	min-width: 340px;
	margin: 10px;
}

table {
	width: 100%;
	border-spacing: 0px;
}
th {
	text-align: left;
}
tr td {
	width: 50%;
	height:  48px;
}

select {
	height: 48px;
	width: 150px;
}

button {
	min-width: 36px;
	padding-left: 15px;
	padding-right: 15px;
}

input {
	height: 48px;
}

strong {
    cursor: pointer;
    text-decoration: underline;
    color: #007bff;
}

.slider {
	width: 150px;
}

#tune_indicator {
	width: 70px;
}
#flat, #intune, #sharp {
	width: 20px;
	height: 20px;
	border-radius: 10px;

	position: absolute;
}

#flat {
	background-color: red;
}

#intune {
	background-color: green;
}

#sharp {
	background-color: red;
}

#note_display {
	width: 100%;
}
#note_octave {
	width: 75px;
	height: 50px;
	margin: auto;
}
#note {
	width:  50px;
	position: absolute;
	text-align: right;
	font-size: 42px;
}
#octave {
	padding-top: 20px;
	font-size: 22px;
	float: right;
}

#piano {
	margin-top: 10px;
}
#fretboard {
	margin-top: 10px;
}
#clear_button {
	margin-left: 10px;
}

#ios_install_instructions p {
    font-size: 18px !important;
}
#ios_install_instructions img {
    width: 25px;
    height: 25px;
    vertical-align: text-bottom
}
